//Add Bootstrap specific code before the import
/* Old theme
$primary: #4CAF50;
$secondary: #008000;
$accent: #FF5722;
$warning: #edffbc;
$danger: #ff7c6b;
$success: #6dffb6;
$defaultbtn: #E5E5E5;
$defaultfont: #333333;
$grey-bg: #fafafa;
$grey-border: #cacaca;
$background-color: #F5F5F5;
*/

$primary: #23c686;
$secondary: #099d02;
$accent: #9fcdfd;
$warning: #fc9d45;
$danger: #ee725c;
$success: #94fc89;
$defaultbtn: #f0f7da;
$defaultfont: #010101;
$grey-bg: #fafafa;
$grey-border: #7a9295;
$background-color: #f5f8eb;
//$background-color: #e3e6db;
$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "danger": $danger,
    "success": $success,
    "defaultfont": $defaultfont,
    "grey-border": $grey-border,
    "background-color": $background-color,
    "accent": $accent,
    "grey-bg": $grey-bg
);

$custom-color: (
    "icon-background": rgba(54, 128, 45, 0.5)
);

$theme-colors: map-merge($theme-colors, $custom-color);


//Import Bootstrap
@import "./bootstrap-5.3.3/scss/bootstrap";

//Global

body {
    background-color: $background-color;
}

.a:link {
    color: $grey-bg;
}

a, a:visited, a:hover, a:active {
    color: inherit;
 }

.btn-rounded {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
}

.btn-rounded-square {
    min-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    color: $defaultfont;
    font-size: 24px;
}

.icon-green {
    color: $success;
}
.icon-red {
    color: $danger;
}
.icon-grey {
    color: $grey-border;
}

.fill-button.empty {
    background-color: $grey-bg;
}
.fill-button.filled {
    background-color: $success;
}
.fill-button.faulty {
    background-color: $danger;
}

/////////////////   Header stuff
/// 
/// 
.navbar {
    font-size: 18px;
    background-color: $primary;
    border-bottom: 2px solid $defaultfont;

        //Only effective with navigation-bar-list
        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: inline-flex;
            margin: 0px -10px;
    
            //List items
            li {
                margin: 0px 10px;
                display: flex;
                align-items: center;
                
    
                //Button
                .bi {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }
        }
    

}
.nav-item {
    font-size: 16px;
    color: $defaultfont;
    margin-left: 1px;

}

.dropdown-menu { 
    background-color: $primary;
    color: $defaultfont;
}

.dropdown.item {
    background-color: $primary;
}

.navbar-nav .ml-auto {
  margin-left: auto;
}


//Bottom Navigation bar (footer)
//////////////////////////////////

.bottom-nav-bar {
    font-size: 18px;
    background-color: $primary;
    border-top: 1px solid $secondary;

    //Only effective with navigation-bar-list
    &-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        margin: 0px -10px;

        //List items
        li {
            margin: 0px 10px;
            display: flex;
            align-items: center;
            

            //Button
            .bi {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }
        }
    }
}

//
//Box info box, mini.
.card {
    background-image: url("https://www.stockvault.net/data/2011/02/06/117456/preview16.jpg");
    background-size: cover;
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-font {

    color: $background-color;

    &-l {
        font-size: 40px;
    }

    &-m {
        font-size: 24px;
    }

    &-s {
        font-size: 12px;
    }

}


.alert {
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
}

//
////////////////////////////////
/// Box Info Page

.box-info-box {
    border: 1px solid $defaultfont;
    padding: 0px;
    margin: auto;
}


//
//
//Login

::after, ::before {
  box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
  }







    //
  //           Customer Side
  ////////////////////////////////////////////////////////////////
  /// 
.text-on-img {
    z-index: 99;
    font-size: 36px;
    color: #FFFFFF;
    display: flex;
    align-self: center;
    align-content: center;
}


//Text box + the text on top of it
.mask {
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
  border-radius: 15px; /* Adjust this value to change the roundness */
  padding: 20px; /* Optional: Adds some padding around the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
}

.banner{position:relative}
.banner-img {
    width:100%;
    background-image: url("https://www.stockvault.net/data/2011/02/06/117456/preview16.jpg");
    @extend .img-fluid;
    min-height: 330px;
    max-height: 550px;
}
.banner .container{position: absolute; left:0; right:0; top:50%; text-align:center; transform:translateY(-50%)}

.location-list {
    padding: 5px;
    align-items: center;
    align-content: center;
}

.store-thumbnail {
    background-size: cover;
    width: 100%;
}

.img-container {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}

.home-slider-title {
    background-color: $background-color;
    opacity: 0.3;
    border: 1px solid $defaultfont;
}


.custom-btn {
    width: 100%;
    height: 100px;
    min-width: 100px;
}

.custom-select {
    width: 100%;
    height: 30px;
}



//New admin main items. 

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 1px 8px 16px 1px rgba(255,255,255,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#myDropdown {
    display: none;
}


.weather-card {
  margin: 60px auto;
  min-height: 350px;
  min-width: 450px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #112233;
}
.weather-card .top {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .mynav {
  height: 20px;
}
.weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 22px;
}

.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .temp {
  margin-top: 20px;
}
.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.dd-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.empty-notif {
    color: grey; /* Change color to your desired color */
}


//"About" -page
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("https://img.freepik.com/free-photo/close-up-bonfire-with-flames_23-2148506916.jpg?t=st=1721035736~exp=1721036336~hmac=00999132a01e4274d8cf7857f8b0987bc10afaeb1a86851323d75ce9b5adce03") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }

  .showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }


  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.order-lg-first {
    order: -1 !important;
  }
  .order-lg-0 {
    order: 0 !important;
  }
  .order-lg-1 {
    order: 1 !important;
  }
  .order-lg-2 {
    order: 2 !important;
  }
  .order-lg-3 {
    order: 3 !important;
  }
  .order-lg-4 {
    order: 4 !important;
  }
  .order-lg-5 {
    order: 5 !important;
  }
  .order-lg-last {
    order: 6 !important;
  }

  .p-0 {
    padding: 0 !important;
  }

  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  //maybe this matters...
  @media (min-width: 992px) {
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }

  }